:root {
    --main-color: #00a5a1;
    --black: #333;
    --white: white;
    font-family: 'Sora';
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1rem;
    background-color: var(--main-color);
}

.nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-right: 2rem;
}

.nav li {
    margin-left: 10px;
    margin-right: 10px;
}

.nav-link {
    text-decoration: none;
    color: var(--white);
}

.nav-link:hover {
    color: var(--black);
}

#header-img {
    width: 11.344rem;
    height: 4.125rem;
    padding-left: 0.5rem;
}

a {
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-evenly;
    left: 0;
    right: 0;
    background-color: var(--black);
    color: var(--white);
    padding: 1.5rem;
    padding-bottom: 2.5rem;
}

footer div {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

footer div a h3, span {
    color: var(--white);
}

footer div a h3:hover {
    text-decoration: underline;
}

footer div a span {
    font-size: 14px;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
}

.footer-copyright * {
    padding: 10px;
}

.all-contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-container {
    display: flex;
    flex-direction: column;
    width: 27.25rem;
    padding-left: 2rem;
}

span {
    margin-bottom: 10px;
}
