:root {
    --main-color: #00a5a1;
    --black: #333;
    --white: #eee;
    font-family: 'Sora';
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wirecare-product-image {
    width: 100%;
    margin-top: 10px;
}

h1 {
    color: var(--main-color);
    padding: 1.5rem;
}

iframe {
    padding-bottom: 3.5rem;
}