:root {
    --main-color: #00a5a1;
    --black: #333;
    --white: #eee;
    font-family: 'Sora';
}

.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    margin-left: 5rem;
}

.description-container {
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 0 3px 10px black;
}

.product-image {
    width: 35rem;
}